.Input{
    border: solid var(--border) 1px;
    border-radius: .5rem;
    height: 100%;
    padding: 1rem 1rem;
    font-size: var(--font-md);
    background: var(--secondary);
    color: var(--secondary-text);
}

.Input::placeholder{
    font-size: var(--font-lg);
}

.InputList{
    position: relative;
}


.DropList{
    position: absolute;
    top: 110%;
    left: 0;
    height: fit-content;
    width: 100%;
    background: var(--secondary);
    border: solid var(--border) 1px;
    border-radius: 0rem 0rem 1rem 1rem;
    opacity: 0;    
    transition: opacity .3s ease;
    z-index: 800;
    max-height: 290px;
    overflow-y: auto;
}

.DropListEntity{
    padding: 1rem;
    transition: .3s;
    cursor: pointer;
    border-bottom: solid var(--border) 2px;
    max-height: 300px;
}

.DropList li:last-child{
    border-bottom: none;
}

.DropListEntity:hover{
    background: var(--orange);
    color: var(--background);
}

.DropListEntity:last-child{
    border-radius: 0rem 0rem 1rem 1rem;
}


.InputArea{
    border: solid var(--border) 1px;
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    height: auto;
    min-height: 200px;
    font-size: var(--font-md);
    overflow-y: hidden;
}

.InputArea:focus{
    outline: none;
    border: solid var(--orange) 1px;
}


.InputContainer33 {
    width: calc(33% - 2rem);
}

.InputContainer50 {
    width: calc(50% - 2rem);
}

.InputContainer100 {
    width: 100%;
}

.HeaderText{
    color: var(--primary);
    font-weight: 100;
    text-wrap: nowrap;
}

@media screen and (max-width: 574px) {
    .InputContainer33 {
        width: calc(33% - 1rem);
    }
    
    .InputContainer50 {
        width: auto;
        flex-grow: 1;
    }

    .HeaderText{
        font-size: 1.1rem;
    }
}