@keyframes shimmer {
    0%   { background-position: -200px 0; }
    100% { background-position: 200px 0; }
}

.shimmer {
    background: var(--backoground);
    background-image: linear-gradient(to right, var(--border) 0%, var(--secondary) 50%, var(--border) 100%);
    background-size: 400px 100%;
    animation: shimmer 1.2s infinite;
    min-width: 100px;
    min-height: 25px;
    border-radius: .5rem;
}