.header{
    background: var(--bg-glass);
    backdrop-filter: blur(20px) saturate(180%);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
    min-height: 100px;
    width: 100%;
    border-bottom: solid var(--border) 1px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-text{
    color: var(--foreground);
}

.logo{
    font-size: clamp(1.5rem,calc(1vw + 1rem),2.5rem);
    color: var(--orange);
}

#footer{
    border-top: solid var(--border) 1px;
    height: fit-content;
}

.PaginationPages{
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    aspect-ratio: 1;
    border: solid var(--background) 3px;
}


.PaginationPages:hover{
    cursor: pointer;
    border: solid var(--orange) 3px;
}


.PaginationPages.select{
    color: var(--orange);
    border: solid var(--foreground) 2px;
}

.navContainer{
    gap: min(4vw,1rem);
}

.PaginationButton {
    max-width: 100px;
}

.Active{
    border: solid var(--orange) 1px;
}

.PaginationPadding {
    padding: .3rem 1.2rem;
}


@media screen and (max-width: 574px) {
    #footer {
        padding: 0rem 1rem;
    }
    
    #footer div nav {
        flex-direction: column;
        align-items: start;
    }
}